###########################################################################
# Docker
###########################################################################
## Project webroot path
PROJECT_ROOT_PATH=..

## Project name, used in webroot path,
## redis.conf, docker_container_name,
## nginx.conf
COMPOSE_PROJECT_NAME=my_project



###########################################################################
# PHP
###########################################################################
## php version
PHP_VERSION=7.4

## Nginx fastcgi_pass port, unique on host
PHP_FPM_LISTEN_PORT=9001

## php-fpm optinal extensions
PHP_INSTALL_GD=true
PHP_INSTALL_GMP=true
PHP_INSTALL_MONGO=false
PHP_INSTALL_REDIS=true
PHP_INSTALL_OPENCC=false

### PHP process UID, used in php-fpm
PHP_PUID=1000
PHP_PGID=1000



###########################################################################
# Python
###########################################################################
## python version
PYTHON_VERSION="3.9"
PYTHON_INSTALL_NMAP=false
PYTHON_INSTALL_GOOGLEAPI=false
PYTHON_INSTALL_CHANNELS=false
PYTHON_INSTALL_ANSIBLE=false
PYTHON_INSTALL_ELASTICSEARCH=false
PYTHON_INSTALL_PYTEST=true
PYTHON_IS_PRODUCTION=false
PYTHON_INSTALL_TREEBEARD=false
PYTHON_INSTALL_WKHTMLTOPDF=false
PYTHON_INSTALL_CELERY=false
DJANGO_PORT=18000
DJANGO_STATS_PORT=19191



###########################################################################
# MariaDB & MySQL
###########################################################################
## MariaDB version
MARIADB_VERSION=10.4
## MariaDB credentials
DB_ROOT_PASSWORD=mypassword
DB_DATABASE=mydatabase
DB_USERNAME=myadmin
DB_PASSWORD=mypass



###########################################################################
# MongoDB
###########################################################################
## MongoDB version
MONGO_VERSION="4.4"
MONGO_ROOT_PASSWORD=mypassword
MONGO_ROOT_USERNAME=root



###########################################################################
# Workspace
###########################################################################
WORKSPACE_BASE="python"
WORKSPACE_SSH_PORT="2222"
