###########################################################################
# Docker
###########################################################################
## Project webroot path
PROJECT_ROOT_PATH=..

## Project name, used in webroot path,
## redis.conf, docker_container_name,
## nginx.conf
COMPOSE_PROJECT_NAME=my_project

SERVER_MOUNT_PATH='X:\\extra_mount_path'
CHANGE_SOURCE=false


###########################################################################
# PHP
###########################################################################
## php version
PHP_VERSION=7.4

## Nginx fastcgi_pass port, unique on host
PHP_FPM_LISTEN_PORT=9001

## php-fpm optinal extensions
PHP_INSTALL_GD=true
PHP_INSTALL_GMP=true
PHP_INSTALL_MONGO=false
PHP_INSTALL_REDIS=true
PHP_INSTALL_OPENCC=false
PHP_INSTALL_WPCLI=true

### PHP process UID, used in php-fpm
PHP_PUID=1000
PHP_PGID=1000



###########################################################################
# Python
###########################################################################
## python version
PYTHON_VERSION="3.9"
PYTHON_INSTALL_ANSIBLE=false
PYTHON_INSTALL_CELERY=false
PYTHON_INSTALL_CHANNELS=false
PYTHON_INSTALL_ELASTICSEARCH=false
PYTHON_INSTALL_GOOGLEAPI=false
PYTHON_INSTALL_NMAP=false
PYTHON_INSTALL_PYTEST=true
PYTHON_INSTALL_REDIS=true
PYTHON_INSTALL_TREEBEARD=false
PYTHON_INSTALL_WKHTMLTOPDF=false
PYTHON_IS_PRODUCTION=false
DJANGO_PORT=18000
DJANGO_STATS_PORT=19191



###########################################################################
# Nginx
###########################################################################
NGINX_PHP_UPSTREAM_CONTAINER=php-fpm
NGINX_PHP_UPSTREAM_PORT=9000
NGINX_DJANGO_UPSTREAM_CONTAINER=django
NGINX_DJANGO_UPSTREAM_PORT=8000
NGINX_HOST_LOG_PATH=./conf/nginx/log
NGINX_SITES_PATH=./conf/nginx/conf.d
NGINX_SSL_PATH=./conf/nginx/ssl
NGINX_HOST_HTTP_PORT=80
NGINX_HOST_HTTPS_PORT=443
VARNISH_BACKEND_PORT=81



###########################################################################
# NodeJS
###########################################################################
INSTALL_NODEJS=true
NODEJS_VERSION="14"



###########################################################################
# MariaDB & MySQL
###########################################################################
## MariaDB version
MARIADB_VERSION=10.4
MARIADB_PORT=3306
## MariaDB credentials
#DB_DOCKER="mail_server_mariadb_1"
DB_ROOT_PASSWORD=mypassword
DB_DATABASE=mydatabase
DB_USERNAME=myadmin
DB_PASSWORD=mypass



###########################################################################
# MongoDB
###########################################################################
## MongoDB version
MONGO_VERSION="4.4"
MONGO_ROOT_PASSWORD=mypassword
MONGO_ROOT_USERNAME=root



###########################################################################
# Workspace
###########################################################################
WORKSPACE_BASE="python"
WORKSPACE_SSH_PORT="2222"



###########################################################################
# Mail server
###########################################################################
PUBLIC_IP="172.16.12.1"
MAIL_DOMAIN="mail.example.com"
MAIL_TOP_DOMAIN="example.tk"
FQDN="$MAIL_DOMAIN"
ENABLE_SPAMASSASSIN="true"
ENABLE_OPENDKIM="true"
ENABLE_SIEVE="true"
GENERATE_OPENDKIM_KEY="true"
SSL_PATH="/etc/letsencrypt"

